html{
  background-color: #222;
  color: #fff;
}
*{
  font-family:'Marcellus', 'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
}
.sidenav{
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 35%;
  margin: rem;
  align-items: center;
  overflow-y: auto;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 2rem;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track{
  margin-block: .4rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: #333;
  border-radius: 10px;
}
nav div:first-of-type {
  padding-top: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #222;
  z-index: 14;
}
.nav-card{
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  padding: 1rem;
  width: 100%;
}
.nav-card:hover{
  background-color: #333;
}
.selectedCard{
  background-color: #555;
}
.selectedCard:hover{
  background-color: #555;
}
.nav-header{
  font-size: 1.2rem;
  text-align: center;
}
.nav-header h1{
  font-size: 4rem;
  margin: 2rem;
  text-align: center;
}
.nav-header input{
  padding: .5rem;
  border-radius: 5px;
  border: none;
  background-color: #333;
  width: 20rem;
  height: 2rem;
  color: #fff;
  text-align: center;
  font-size: 1.05rem;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.nav-header input::placeholder{
  color: #ccc;
  text-align: center;
  font-size: 1.05rem;
}
.nav-header input:hover{
  background-color: #555;
}
.nav-header input:focus{
  outline: none;
}
.poke-card{
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  min-width: 55%;
  max-width: 60%;
}
.container{
  display: flex;
  flex-wrap: row;
  justify-content: center;
  gap: 3rem;
}
.typeCard{
  color: #fff;
  border-radius: 50rem;
  padding: .4rem 1rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  max-width: fit-content;
  margin: 1rem auto;
}
.imgPoke{
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
.namePoke{
  font-size: 5rem;
  text-align: center;
}
.numPoke{
  font-size: 2rem;
  text-align: center;
}
.stats-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}
.stats-container h3{
  font-size: 2rem;
  text-align: center;
}
.stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats-info{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  text-align: center;
}
.imgsContainer{
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: -3rem;
}
.moves-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.moves-container h3{
  font-size: 2rem;
}
.moves{
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10px, 150px));
  gap: .5rem;
  padding: .5rem;
}
.moves button{
  background-color: #777;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: .5rem 1rem;
  cursor: pointer;
}
.moves button:hover{
  background-color: #555;
}
.modal-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0009;
  z-index: 1000;
}
.modal-box{
  position: absolute;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  min-width: 50%;
  max-width: 60%;
  min-height: 50%;
  max-height: 60%;
  display: flex;
}
.modal-box button{
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  border-radius: 100%;
  padding: .5rem .8rem;
  cursor: pointer;
}
.modal-box button:hover{
  background-color: #c00;
  color: #fff;
}
.modal-modal{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  padding: 1rem 0;
}
.modal-modal h6{
  border-bottom: 1px solid #fff;
  width: fit-content;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3rem;
}
.menu{
  display: none;
}
.open-search{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}
.open-nav-button{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  display: none;
}
nav:not(.open){
  display: none;
}

@media (max-width: 1020px){
  .menu{
    position: sticky;
    top: 0;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: #2229;
    z-index: 10;
  }
  .poke-card{
    min-width: 90%;
    justify-content: center;
    margin: auto;
    display: flex;
    position: unset;
  }
  .sidenav h1{
    display: none;
  }
  .sidenav{
    position: absolute;
    left: 0;
    background-color: #222;
    min-width: fit-content;
    z-index: 0;
    height: 90%;
  }
  .sidenav input{
    margin-top: 4rem;
  }
  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    margin-top: 5rem;
  }
}
@media (max-width: 500px){
  html{
    background-color: #333;
  }
  .menu{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #3339;
    padding: 1rem;
  }
  .poke-card{
    position:unset;
    margin: 0;
    width: 100%;
    border-radius: 0;
    display: flex;
    right: 0;
  }
  .imgPoke{
    width: 200px;
    height: 200px;
  }
  .namePoke{
  font-size: 3rem;
  text-align: center;
  }
  .stats{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
  }
  .stats-info{
    border: 1px solid #555;
    padding: .6rem;
    border-radius: 10px;
  }
}